@font-face {
  font-family: Hanken Grotesk;
  src: url(assets/fonts/static/HankenGrotesk-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: Hanken Grotesk;
  src: url(assets/fonts/static/HankenGrotesk-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: Hanken Grotesk;
  src: url(assets/fonts/static/HankenGrotesk-ExtraBold.ttf);
  font-weight: 800;
}
* {
  font-family: "Hanken Grotesk";
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  width: 100dvw;
  margin: 0;
  padding: 0;
  background-color: hsl(221, 100%, 96%);
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 20px;
  box-shadow: 2px 2px 6px rgba(36, 35, 35, 0.2);
}
.left, .right {
  width: 200px;
  padding: 30px;
}
.left {
  background-color: hsla(241, 81%, 54%, 0.863);
  color: white;
  border-radius: 20px;
}
.left h2 {
  margin: 0;
}
.result-title {
  display: flex;
  align-items: center;
  justify-content: center;
  color: hsl(241, 100%, 89%);
  font-size: 12px;
}
.score {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}
.circle {
  background-color: hsl(234, 85%, 45%);
  padding: 17px 32.126px;
  border-radius: 50%;
}
.circle h1 {
  font-size: 3em;
  font-weight: 700;
}
.circle h1, .circle p {
  margin: 0;
}
.circle p {
  color: hsl(241, 100%, 89%);
  font-size: 14px;
  padding-left: 5px;
}
.great {
  display: flex;
  align-items: center;
  justify-content: center;
}
.great h1 {
  margin: 0;
  font-weight: 500;
}
.para {
  display: flex;
  align-items: center;
  justify-content: center;
  color: hsl(241, 100%, 89%);
  font-size: 14px;
}
.right h2 {
  margin: 0;
  color: hsl(224, 30%, 27%);
  font-size: 17px;
}
.right p {
  margin: 0;
}
.reaction, .memory, .verbal, .visual {
  display: flex;
  align-items: center;
  border-radius: 8px;
  padding: 10px 0;
  margin: 12px 0;
  font-size: 14px;
}
.reaction {
  background-color: hsla(0, 100%, 67%, 0.068);
}
.reaction .spacer {
  color: hsl(0, 100%, 67%);
}
.memory {
  background-color: hsla(39, 100%, 56%, 0.116);
}
.memory .spacer {
  color: hsl(39, 100%, 56%);
}
.verbal {
  background-color: hsla(166, 100%, 37%, 0.048);
}
.verbal .spacer {
  color: hsl(166, 100%, 37%);
}
.verbal .percent {
  padding-left: 7%;
}
.visual {
  background-color: hsla(234, 85%, 45%, 0.068);
}
.visual .percent {
  padding-left: 8%;
}
.visual .spacer {
  color: hsl(234, 85%, 45%);
}
.spacer {
  padding-left: 5%;
  padding-right: 20%;
}
img {
  padding-left: 5%;
}
button {
  font-weight: 700;
  width: 100%;
  padding: 10px 0;
  border-radius: 20px;
  border: none;
  color: white;
  background-color: hsl(224, 30%, 27%);
  transition: 0.2s ease-in-out;
}
button:hover {
  background-color: hsla(241, 81%, 54%, 0.863);
  cursor: pointer;
}
button:focus {
  background-color: hsla(241, 81%, 54%, 0.863);
  outline: none;
}
span {
  font-weight: 800;
  color: hsl(224, 30%, 27%);
}
.hunnid {
  color: hsla(224, 30%, 27%, 0.521)
}